data/*
!data/text.js
node_modules/
/js/lib/

/js/battle.js
/js/battledata.js
/js/battle-log.js
/js/battle-choices.js
/js/battle-text-parser.js
/js/battle-dex.js
/js/battle-dex-data.js
/js/battle-animations-moves.js
/js/battle-animations.js
/js/battle-tooltips.js
/js/battle-scene-stub.js
/js/battle-search.js
/js/battle-searchresults.js
/js/client-core.js
/js/client-main.js
/js/client-connection.js
/js/panels.js
/js/panel-topbar.js
/js/panel-example.js
/js/panel-mainmenu.js
/js/panel-rooms.js
/js/panel-chat.js
/js/panel-teambuilder.js
/js/panel-teambuilder-team.js
/js/panel-teamdropdown.js
/js/panel-battle.js
