data/*
!data/text.js
node_modules/
/js/lib/

/js/battle.js
/js/battledata.js
/js/battle-log.js
/js/battle-text-parser.js
/js/battle-dex.js
/js/battle-dex-data.js
/js/battle-animations-moves.js
/js/battle-scene-stub.js
/js/battle-animations.js
/js/battle-tooltips.js
