/sprites/
/audio/
/config/
/index.php
/index.html
/preactalpha.html
/crossprotocol.html
/data/*
node_modules/
eslint-cache/
.DS_Store
Thumbs.db
npm-debug.log
package-lock.json
/vendor/

/js/server/
/js/*.js.map
/js/battle*.js
/js/panel*.js
/js/replay-embed.js
/js/client-main.js
/js/client-core.js
/js/client-connection.js

/replays/caches/
/replays/replay-config.inc.php
/replays/theme/wrapper.inc.php

/website/.well-known/
/website/.pages-cached/
/website/files/
/website/images/
/website/ads.txt
/website/replays/index.html
/website/replays/js/
node_modules
