/sprites/
/audio/
/config/
/index.php
/index.html
/data/*
!/data/learnsets-g6.js
node_modules/
eslint-cache/
.DS_Store
Thumbs.db
npm-debug.log
package-lock.json
/vendor/

/js/battle.js
/js/battledata.js
/js/battle-log.js
/js/battle-text-parser.js
/js/battle-dex.js
/js/battle-dex-data.js
/js/battle-animations-moves.js
/js/battle-animations.js
/js/battle-tooltips.js
/js/battle-scene-stub.js

.vscode
