RewriteEngine On

RewriteCond %{HTTP_HOST} !^logs\.psim\.us:8080$
RewriteRule ^(.*) http://logs.psim.us:8080/$1 [R=301,L]

RewriteRule ^config/ - [F]
RewriteRule ^lib/ - [F]
RewriteRule ^\.git/ - [F]

RewriteRule ^([0-9-]+)/$ ./?month=$1
RewriteRule ^([0-9-]+)/([0-9-]+\.txt)$ ./?month=$1&file=$2
