<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G3025</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pokemon Showdown</string>
	<key>CFBundleDocumentTypes</key>
	<array></array>
	<key>CFBundleExecutable</key>
	<string>nwjs</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.pokemonshowdown.pokemonshowdown</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Pokemon Showdown</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.11</string>
	<key>CFBundleSignature</key>
	<string>NWJS</string>
	<key>CFBundleURLTypes</key>
	<array></array>
	<key>CFBundleVersion</key>
	<string>bf46c879d0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTSDKBuild</key>
	<string>10.14</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1000</string>
	<key>DTXcodeBuild</key>
	<string>10A255</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>0</string>
	</dict>
	<key>LSFileQuarantineEnabled</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>BrowserCrApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>NSUserActivityTypeBrowsingWeb</string>
	</array>
	<key>NSUserNotificationAlertStyle</key>
	<string>banner</string>
	<key>OSAScriptingDefinition</key>
	<string>scripting.sdef</string>
	<key>SCMRevision</key>
	<string>ac9418ba9c3bd7f6baaffa0b055dfe147e0f8364-refs/branch-heads/3538@{#468}</string>
	<key>UTExportedTypeDeclarations</key>
	<array></array>
</dict>
</plist>
